Django
djangorestframework
drf_social_oauth2
dj-database-url
django-heroku
django-filter
django-storages
django-autoslug
django-cors-headers
whitenoise
gunicorn
coreapi
pyyaml
requests
python-dotenv

channels

boto
boto3
Pillow
s3transfer