.settings-icon {
    display: flex;
    text-decoration: none;
    font-size: 22px;
    color: black;
    transition: all 0.3s ease-out 0s;
    padding-top: 12px;
}

.settings-icon:hover {
    color: black;
    transform: scale(1.03);
}

.settings-icon-avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -15px;
}

.loginDetectDiv {
    float: right;
}

.top {
    width: 100%;
    height: 50px;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    font-family: "Josefin Sans", sans-serif;
    justify-content: space-between;
}

.top-clickable {
    display: flex;
    justify-content: space-between;
    align-items: center;

    float: left;
    font-size: 20px;
    margin-right: 1.5%;
    color: #444;
    cursor: pointer;
    transition: all 0.15s ease-out 0s;
}
.top-clickable a {
    font-size: 20px;
    padding-left: 10px;
    color: #444;
    cursor: pointer;
    transition: all 0.15s ease-out 0s;
    align-items: center;
    text-align: center;
}

.top-clickable a:hover {
    color: black;
    transform: scale(1.2);
}

.profileDropdownMenu {
    left: auto;
    right: 0;
    text-align: center;
    margin-top: 20.5px;
    width: 18vw;
    max-width: 200px;
    animation: anvil 0.3s linear;
    -webkit-animation: anvil 0.3s linear;
}

.profileDropdownMenuLogout {
    cursor: pointer;
}

.dropdownIcon {
    text-align: center;
    margin-bottom: 8px;
    border-bottom: 1px solid #e9ecef;
}

.dropdownUser {
    font-size: 30px;
    font-family: Impact;
}

.dropdownIconAvatar {
    border-radius: 12px;
    width: 90px;
}
.dropdown-item {
    font-weight: 600;
}

.sticky {
    background-color: #dedde2d8;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.navbar {
    transition: all 0.3s ease-out 0s;
    font-size: 1.2rem;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar-toggler {
    padding: 0.25rem 1.5rem;
    position: relative;
    background-color: transparent;
    border-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(2),
.navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    /* left: 12px; */
    /* top: 10px; */
    transform: rotate(-45deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important;
}

.nav-link {
    padding: 20px 0px;
}

.navbar-collapse {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0;
    width: 100%;
    padding-bottom: 0px;
    margin: auto;
    align-items: normal;
}

.navbar-collapse-show {
    padding-top: 10px;
}
.navbar-items {
    width: 85%;
    justify-content: space-between;
}

.navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

.navbar-nav .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #c7b937;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
    width: 100%;
}

.fork-btn-inner {
    line-height: 1.4em;
    background-color: #a3872b;
    padding: 0.2rem 1rem;
    vertical-align: middle;
    text-align: center;
    border-color: #ffffff00;
    font-size: 15px;
}

.fork-btn-inner:hover {
    transform: translateY(-3px);
    background-color: #ffe864;
    border-color: #ffffff00;
}

.fork-btn-inner::after {
    display: none;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(219, 179, 91);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(235, 211, 130, 0.911);
    border-radius: 12px;
}

@media (max-width: 767px) {
    .navbar {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        background-color: #ffffff;
    }
    .navbar-nav .nav-item a::after {
        display: none;
    }

    .fork-btn {
        margin-left: 0;
    }

    .nav-link {
        padding: 0.7rem 1rem;
    }
    .navbar-toggler {
        padding: 0;
    }
    /* .navbar-items {
        padding-top: 20px;
    } */

    .top-clickable {
        width: 50%;
    }
    .top-clickable a {
        padding: 0 0;
    }
    ::-webkit-scrollbar {
        width: 8px !important;
    }
}

@media (max-width: 400px) {
    .navbar {
        font-size: 14px;
    }
    .settings-icon-avatar {
        height: 30px;
        width: 30px;
    }

    .dropdownUser {
        font-size: 20px;
        font-family: Impact;
    }

    .dropdownIconAvatar {
        border-radius: 12px;
        width: 70px;
    }
    .dropdown-item {
        font-size: 14px;
    }

    ::-webkit-scrollbar {
        width: 6px !important;
    }
}
@media (max-width: 250px) {
    .top-clickable {
        display: none;
    }
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}
